body {
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%
}

.consoleBox {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    overflow: hidden;
}

.consoleBox .log {
    font-size: 10px;
    margin-top: 2px;
}

.consoleBox .ui-dialog-titlebar-close {
    display: none;
}

.outputBox {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    overflow: hidden;
}

.outputBox .ui-dialog-content {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outputBox .log {
    font-size: 10px;
    margin-top: 2px;
}

.outputBox .ui-dialog-titlebar-close {
    display: none;
}

.gestureBox {
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    overflow: hidden;
}

.gestureBox .ui-dialog-content {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gestureBox .ui-dialog-titlebar-close {
    display: none;
}

.gBox {
    margin-top: 10px;
    margin-left: 220px;
    font-size: 12px;
    overflow: hidden;
}

.gBox .ui-dialog-content {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gBox .log {
    font-size: 10px;
    margin-top: 2px;
}

.gBox .ui-dialog-titlebar-close {
    display: none;
}