<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ni-simple-sensor-read.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>nite-gesture-wave.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>nite-simple-user-read.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>udp-socket-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>udp-socket-server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE2773391A3849AB00D8F52B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E41C31A3858BF0095F65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E41D11A385AC60095F65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E41E21A3862A30095F65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E41ED1A3863AD0095F65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E41FD1A3866430095F65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E420E1A3867390095F65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E42211A3868460095F65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
