<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>boost-multicast-rx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>boost-multicast-tx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>brain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>grt-ada-boost.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>grt-anbc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>grt-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>human-robot-interaction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>ni-simple-sensor-read.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>nite-gesture-wave.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>nite-hand-tracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>nite-simple-skeleton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>nite-simple-user-read.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>nite-user-glut-viewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>rapidjson-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>udp-server-async.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>udp-socket-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>udp-socket-server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE2773391A3849AB00D8F52B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2A14181A713D7F002F6C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2C34731B1ADAA200A8CD0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2C34831B1B07C000A8CD0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2C348E1B1B07E400A8CD0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2C34991B1B07F000A8CD0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE70B2901A5447E80072BB83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE737AE31A407A0E00593328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8506291AA7440B0094FBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8506411AA856460094FBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8506611AA85E170094FBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE85068E1AA862E10094FBCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E41C31A3858BF0095F65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E41D11A385AC60095F65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E41E21A3862A30095F65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E41ED1A3863AD0095F65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E41FD1A3866430095F65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E420E1A3867390095F65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E42211A3868460095F65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E42441A3884DF0095F65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAA7CAC1A724F6E00C7EF67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEDFA8221AA093F6006B1C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEDFA82F1AA094AE006B1C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEDFA9781AA0B095006B1C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEDFA9851AA0B1B5006B1C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEE283AD1A48C2E300131564</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEF851F31A80D9DE00C3BCBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEF851FE1A80DADF00C3BCBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEF852091A80DC1A00C3BCBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
